.allproduct{
    display: flex;
    width: 95%;
    justify-content: space-around;
    flex-direction: row;
    background-color:white;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
    }
    .product{
    margin: 10px;
    width: 250px;
    min-height: 400px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    color: black;
    text-align: center;
    
  }
    
    
    .product img{
    width: 100%;
    border-radius: 10px;
    
    }
    
    .product h1{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
    }
    
    .product p{
      font-size: 15px;
      font-family:'Times New Roman', Times, serif;
      text-align: center;
      padding: 10px;
    }

    .carticon{

      color:white;
      font-size: 25px;
    }
    
    #container:hover{
      transform: scale(1.1);
    }
    #container button:hover{
      
    
    
    }
    
    
    /* pagination */

.pag{


  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    


}    
   


body {
	background-color: #eee;
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.pagination > a,
.pagination > span,.pagination > button {
	background-color: #fff;
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;
  
	font-size: 20px;
	margin: 0 5px 8px;
	border-radius: 5px;
	min-width: 20px;
	padding: 0 10px;
	height: 40px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	position: relative;
  border: 0px;
	font-family: Helvetica, Arial, sans-serif;
}
.pagination > span {
	pointer-events: none;
}
.pagination svg {
	height: 24px;
	width: 24px;
}
.pagination > a.page-active {
	background-color: #f00;
	color: white !important;
}
.pagination > a:hover {
	background-color: #f00;
	color:white !important;
}